.events {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 20px;
}

.event {
  background: orange;
  width: 300px;
  height: 200px;
  text-align: center;
}
.qr-stamp {
  position: relative;
}
.ticket-stamp {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 0;
}
